<!DOCTYPE html>
<html lang="en">
<head>
    <% title = "Discord J2ME" %>
    <%- include('include/head'); %>
    <% if (showMetaDescription) { %>
        <meta name="description" content="Download the unofficial Discord client for your Nokia, BlackBerry, Sony Ericsson, or other Java-enabled device.">
    <% } %>
</head>
<body>
    <div class="main">
        <%- include('include/title'); %>

        <%- proxylessText %>

        <%- versions %>
        <a href="/j2me/archive">Old versions</a><br/>
        <a href="/j2me/guide">Token setup guide</a>
    </div>
    
    <div class="footer">
        <% if (showingAll) { %>
            <p><a href="/">gtrxac.fi</a> &gt; <a href="/j2me">Discord J2ME</a> &gt; <strong>All versions</strong></p>
        <% } else { %>
            <p><a href="/">gtrxac.fi</a> &gt; <strong>Discord J2ME</strong></p>
        <% } %>
        <%- include('include/footer') %>
    </div>
</body>
</html>